<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>609175556602-sh9d48sdolpafmean9urqvr2rgmjn8d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609175556602-sh9d48sdolpafmean9urqvr2rgmjn8d6</string>
	<key>API_KEY</key>
	<string>AIzaSyBfyLea4qIC_c8VBS9OV4ovecNGLf2KxgY</string>
	<key>GCM_SENDER_ID</key>
	<string>609175556602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yoong.tmroyalty</string>
	<key>PROJECT_ID</key>
	<string>tmloyalty-d149c</string>
	<key>STORAGE_BUCKET</key>
	<string>tmloyalty-d149c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609175556602:ios:06f1d545e86f86eb</string>
	<key>DATABASE_URL</key>
	<string>https://tmloyalty-d149c.firebaseio.com</string>
</dict>
</plist>